# -----------------------
# Python cache & metadata
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
pip-wheel-metadata/
__pypackages__/

# -----------------------
# Virtual environments
# -----------------------
.venv/
.env
.env.*

# -----------------------
# OS / IDE / Editor
# -----------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# -----------------------
# Test & coverage reports
# -----------------------
.pytest_cache/
.coverage
htmlcov/
tests/

# -----------------------
# Local data & artifacts
# -----------------------
data/
datasets/
artifacts/
mlruns/
monitoring/
logs/
outputs/
checkpoints/

# -----------------------
# Jupyter notebooks (optional)
# -----------------------
*.ipynb
*.ipynb_checkpoints/

# -----------------------
# Build & dist artifacts
# -----------------------
build/
dist/

# -----------------------
# Docker / Git
# -----------------------
docker-compose.override.yml
.dockerignore
Dockerfile
.git
.gitignore
.gitattributes

# -----------------------
# Caches
# -----------------------
.cache/
cache/
